.page-display {
  max-width: pxToRem(500);

  .action-increase {
    transform: rotate(90deg);
    width: pxToRem(20);
    padding-top: pxToRem(20);
  }

  .cancel-display {
    font-size: pxToRem(20);
    line-height: pxToRem(20);
    color: $color-cancel;
    font-weight: $medium;
    padding-right: pxToRem(30);
  }

  &__item-display {
    padding: pxToRem(18) pxToRem(24) pxToRem(17);
    border: pxToRem(1) solid $color_primary;
    border-radius: pxToRem(5);
    color: $color_primary;
    font-size: pxToRem(30);
    line-height: pxToRem(20);
    font-weight: $medium;
    margin-bottom: pxToRem(19);
    background-color: $white;
  }

  h1 {
    font-size: pxToRem(30);
    line-height: pxToRem(20);
    font-weight: $medium;
    padding-bottom: pxToRem(28);
  }

  .input {
    &__label {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
    }

    &__box {
      input {
        background-color: $white;
        border-radius: pxToRem(6);
        border: solid pxToRem(1) #707070;
        height: pxToRem(44);
        font-size: pxToRem(14);

        &::-webkit-input-placeholder {
          font-size: pxToRem(14);
        }

        &::placeholder {
          font-size: pxToRem(14);
        }

        &::-moz-placeholder {
          font-size: pxToRem(14);
        }

        &:-ms-input-placeholder {
          font-size: pxToRem(14);
        }
      }
    }
  }

  .suggestions {
    font-size: pxToRem(10);
    line-height: pxToRem(13);
    font-weight: $light;
    color: $color-table;
    padding-bottom: pxToRem(28);
    padding-top: pxToRem(10);
  }

  .favicon {
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    padding-bottom: pxToRem(5);
  }

  .box__input {
    padding: pxToRem(13);
    outline: pxToRem(2) dashed $color-border-box;
    text-align: center;

    .box__file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      font-size: pxToRem(15);
      line-height: pxToRem(30);
      color: $color-placeholder;
    }
  }

  textarea {
    width: 100%;
    border: pxToRem(1) solid $color-border;
    line-height: pxToRem(36);
    display: block;
    font-size: pxToRem(16);
    padding-left: pxToRem(10);
    background-color: $white;
    border-radius: pxToRem(5);
    width: 100%;
    letter-spacing: pxToRem(-0.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $regular;
    margin-bottom: pxToRem(30);

    &::placeholder {
      color: $color-placeholder;
      font-weight: $regular;
      font-size: pxToRem(14);
      letter-spacing: pxToRem(-0.25);
      font-style: italic;
    }
  }

  .companent {
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    padding-bottom: pxToRem(5);
  }

  .list-companent {
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .companent-left {
      margin-right: pxToRem(30);
    }

    &__item-display {
      padding: pxToRem(9) pxToRem(12) pxToRem(8);
      border: pxToRem(1) solid $color-black;
      border-radius: pxToRem(5);
      color: $color_primary;
      height: pxToRem(37);
      font-size: pxToRem(15);
      line-height: 1.2;
      font-weight: $medium;
      margin-bottom: pxToRem(19);
      width: pxToRem(196);
      display: block;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: $white;

      &.active {
        border: pxToRem(1) solid $color_primary;
      }
    }
  }

  .form-customer {
    .box__input {
      margin-bottom: pxToRem(15);
    }

    input {
      margin-bottom: pxToRem(10);
    }
  }
}