.page-display{
  .action-increase{
    transform: rotate(90deg);
    width: pxToVW(20);
    padding-top: pxToVW(20);
  }
  .cancel-display{
    font-size: pxToVW(20);
    line-height: pxToVW(20);
    color: $color-cancel;
    font-weight: $medium;
    padding-right: pxToVW(30);
  }
  &__item-display{
    padding: pxToVW(18) pxToVW(24) pxToVW(17);
    border: pxToVW(1) solid $color_primary;
    border-radius: pxToVW(5);
    color: $color_primary;
    font-size: pxToVW(30);
    line-height: pxToVW(20);
    font-weight: $medium;
    margin-bottom: pxToVW(19);
  }
  h1{
    font-size: pxToVW(30);
    line-height: pxToVW(20);
    font-weight: $medium;
    padding-bottom: pxToVW(28);
  }
  .input {
    &__label{
      font-size: pxToVW(20);
      line-height: pxToVW(30);
    }
    &__box{
      input{
        background-color: $white;
      }
    }
  }
  .suggestions{
    font-size: pxToVW(10);
    line-height: pxToVW(13);
    font-weight: $light;
    color: $color-table;
    padding-bottom: pxToVW(28);
    padding-top: pxToVW(10);
  }
  .favicon{
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    padding-bottom: pxToVW(5);
  }
  .box__input{
    padding: pxToVW(13);
    outline: pxToVW(2) dashed $color-border-box;
    text-align: center;
    .box__file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label{
      font-size: pxToVW(15);
      line-height: pxToVW(30);
      color: $color-placeholder;
    }
  }
  .companent{
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    padding-bottom: pxToVW(5);
  }
  .list-companent{
    flex-wrap: wrap-reverse;
    &__item-display{
      padding: pxToVW(9) pxToVW(12) pxToVW(8);
      border: pxToVW(1) solid $color-black;
      border-radius: pxToVW(5);
      color: $color_primary;
      font-size: pxToVW(15);
      line-height: pxToVW(10);
      font-weight: $medium;
      margin-bottom: pxToVW(19);
      width: 48%;
      display: inline-block;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      &:nth-of-type(2n){
        margin-left: pxToVW(53);
      }
      &.active{
        border: pxToVW(1) solid $color_primary;
      }
    }
  }
}