.modal {
  z-index: 9999;

  &.index-9998 {
    z-index: 9998;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 pxToVW(30);
    margin: 0;
    max-width: pxToVW(500);
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.4;
  }
}

.modal-title{
  font-size: pxToVW(25);
  line-height: pxToVW(30);
  font-weight: $bold;
  color: $color_primary;
  text-align: center;
  padding-bottom: pxToVW(25);
}

.modal-content {
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  // color: $popup-txt;
  padding: 0;
  border: none;
  @include radius(#{pxToVW(20)});
  padding: pxToVW(25) pxToVW(40);

  &__iconClose {
    position: absolute;
    right: pxToVW(30);
    top: pxToVW(20);
    width: pxToVW(33);
    height: pxToVW(33);
    color: $color-button-close;
    border: pxToVW(1) solid $color-button-close;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
      outline: none;
    }

    img {
      width: pxToVW(19);
      height: pxToVW(19);

      &:focus {
        outline: none;
      }
    }
  }

  .modal-body {
    width: 100%;
    white-space: pre-line;
    margin: 0;
    .title-content{
      .input {
        &__box{
          width: pxToVW(317);
        }
      }
    }
  }
  .modal-footer{
    border-top: none;
    .button.button.btn{
      height: pxToVW(40) !important;
      padding: pxToVW(7) pxToVW(4) pxToVW(6);
      font-size: pxToVW(15);
      line-height: pxToVW(18);
      background:$color_primary;
      border-radius: 0;
    }
  }
}