.wrapper-menu {
  flex-direction: column;
  padding: 0 pxToVW(96) 0 pxToVW(40);
  background: $white;

  .logo {
    background-image: url('../../../assets/imgs/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: pxToVW(204);
    height: pxToVW(136);
    margin-bottom: pxToVW(59);
    margin-left: pxToVW(-10);
  }
  .menu {
    &__item {
      font-weight: bold;
      padding-bottom: pxToVW(55);
      cursor: pointer;

      svg {
        vertical-align: initial;
      }
      a {
        color: $color-black;
        text-transform: uppercase;
        font-size: pxToVW(20);
        margin-left: pxToVW(14);
      }
      
      &--active {
        a {
          color: $color_primary;
        }

        svg {
          path {
            fill: $color_primary;
          }
        }
      }
    }
  }
}
