.wrapper-menu {

  padding: 0 pxToRem(20) 0 pxToRem(40);
  background: $white;
  margin-bottom: pxToRem(80);
  overflow-y: auto;
  height: 95vh;
  display: block;

  @media (max-width: 1024px) {
    padding-left: pxToRem(20);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: pxToVW(5);
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-placeholder;
    border: pxToVW(5) solid $color-placeholder;
    border-radius: pxToVW(2);
  }

  .description-menu {
    h2 {
      font-size: pxToVW(50);
      color: $color_primary;
      line-height: pxToVW(10);
      font-style: oblique;
      padding-bottom: pxToVW(10);
    }

    p {
      font-style: oblique;
      font-size: pxToVW(18);
    }

    &__admin {
      color: $color_primary;
      font-size: pxToVW(20);
      font-style: normal;
      text-align: right;
      font-weight: $bold;
      padding-bottom: pxToVW(5);
    }

    &__ceo {
      color: gray;
      font-size: pxToVW(18);
      font-style: normal;
      text-align: right;
    }

    &__incor {
      color: $color_primary;
      font-size: pxToVW(30);
      font-weight: $bold;
      padding: pxToVW(25) 0;
    }

    &__hotline {
      color: $color-black;
      font-size: pxToVW(16) !important;
      font-style: normal;
      padding-bottom: pxToVW(5);
      padding-top: pxToVW(15);
      font-weight: $bold;
    }

    &__email {
      color: $color-black;
      font-size: pxToVW(15) !important;
      font-style: normal;
      font-weight: $bold;
    }

    @media (max-width: 1024px) {
      h2 {
        font-size: pxToRem(45);
        padding-bottom: pxToRem(5);
      }

      p {
        font-style: oblique;
        font-size: pxToRem(14);
      }

      &__admin {
        font-size: pxToRem(18);
      }

      &__ceo {
        font-size: pxToRem(16);
      }

      &__incor {
        font-size: pxToRem(25);
        font-weight: $bold;
        padding: pxToRem(20) 0;
      }

      &__hotline {
        color: $color-black;
        font-size: pxToRem(14) !important;
        font-style: normal;
        padding-bottom: pxToRem(5);
        padding-top: pxToVW(15);
        font-weight: $bold;
      }

      &__email {
        color: $color-black;
        font-size: pxToRem(14) !important;
        font-style: normal;
        font-weight: $bold;
      }
      .customer-bottom{
        width: pxToRem(170);
      }
    }
  }

  .logo {
    background-image: url('../../../assets/imgs/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: pxToVW(204);
    height: pxToVW(136);
    margin-bottom: pxToVW(59);
    margin-left: pxToVW(-10);

    @media (max-width: 1024px) {
      width: pxToVW(350);
      height: pxToVW(236);
    }
  }

  .menu {
    &__item {
      font-weight: bold;
      padding-bottom: pxToVW(55);
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        vertical-align: initial;
      }

      a {
        color: $color-black;
        text-transform: uppercase;
        font-size: pxToVW(20);
        margin-left: pxToVW(14);
      }

      &--active {
        a {
          color: $color_primary;
        }

        svg {
          path {
            fill: $color_primary;
          }
        }
      }
    }
  }
}

.customer-bottom {
  position: fixed;
  width: pxToVW(200);
  bottom: 40px;
}