$font-size-base: 16;
$font-size-base-response: 20;
$border-width-base: 2;
// $viewPort: 414;
$viewPort: 1920;
// font weight
$Roboto-Font: 'Roboto',
'sans-serif';
$Lato-Font: 'Lato',
'sans-serif';
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

/**
 * Variable for colors
*/
$white: #fff;
$color_primary: #b40706;
$bg_main: #2a5299;
$bg-black: #1d1d1d;
$bg-footer: #fcfcfc;
$border-footer: #f5f5f5;
$color-title-point: #3f3f3f;
$btn-color: rgba(0, 0, 0, 0.16);
$bg-light: #5e5e5e;
$color-black: #000000;
$color-light2: #676767;
$color-light3: #fafafa;
$color-border-box: #707070;
$color-placeholder: #b6b6b6;
$red:#f20000;
$color-light0: #2a2a2a;
$color-box-add: #b2b2b2;
$color-light4: #2a2827;
$color-blue-light: #1e396b;
$bg-main2: #1667c4;
$bg-disabled: #bfbfbf;
$color-yellow: #ffb303;
$bg-light4: #ececec;
$bg-light5:#d7dae2;
$color-light1: #4d4f5c;
$bg-light6: #f6f6f6;
$color-text: #4d4f5c;
$color-border: #f1f1f3;
$blue-light: #2e5299;
$color-head: #eef1f7;
$bg-even-table: #f6f9ff;
$color-link-table: #295198;
$color-table: #121212;
$bg-color: #a2a2a2;
$color-tag: #7d7d7d;
$color-add: #989898;
$color-delete: #d91616;
$bg-cancel-categories: #ff0000;
$bg-row-active: rgba(#1667c4, 0.34);
$color-cancel: #f50000;
$bg-file-popup: #d9d9d9;
$color-button-close: #e26060;
$black-opacity-24: rgba(0, 0, 0, 0.24);
$black-opacity-3: rgba(0, 0, 0, 0.3);
$black-opacity-6: rgba(0, 0, 0, 0.6);
$black-opacity-5: rgba(0, 0, 0, 0.5);