.table {
  font-size: pxToVW(18);
  color: $color-table;

  thead {
    background-color: $color_primary;

    tr {
      th {
        border: 0;
        color: $color-head;
        font-size: pxToVW(18);
        padding: pxToVW(15) pxToVW(10);
        white-space: pre-line;
        vertical-align: middle;
      }
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: $white;
    }

    tr:nth-of-type(even) {
      background-color: $bg-even-table;
    }

    tr {
      position: relative;
      &.row-active {
        background-color: $bg-row-active;
      }

      &.row-red {
        background-color: $color-delete;

        * {
          color: $white !important;
        }
      }

      td {
        border: 0;
        padding: pxToVW(25) pxToVW(10);
        white-space: pre-line;
        vertical-align: middle;
        font-size: pxToVW(18);

        p {
          color: $color-link-table;
          text-decoration: underline;
        }
        &.idCheckbox-144,  &.idCheckbox-130,  &.idCheckbox-129{
          .checkbox{
            display: none;
          }
        }
      }
    }
  }
}

.opacity05 {
  opacity: 0.5;
}

.table-responsive {
  border-radius: pxToVW(10);
}

.action-category {
  display: flex;
  font-size: pxToVW(18);
  position: absolute;
  right: pxToRem(15);
  height: auto;

  .edit-categories {
    width: pxToVW(110);
    color: $white;
    background-color: $color_primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: pxToVW(23) pxToVW(10);
    font-size: pxToVW(18);
  }

  .cancel-categories {
    width: pxToVW(110);
    color: $white;
    background-color: $bg-cancel-categories;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: pxToVW(23) pxToVW(10);
    font-size: pxToVW(18);
  }
}

.tooltip.show {
  opacity: 1;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  left: 0;
  border-width: 0.5rem 0 1rem 1rem;
}

.bs-tooltip-left {
  .arrow {
    &::before {
      border-left-color: #fff;
    }
  }

  .tooltip-inner {
    background-color: #fff;
    padding: pxToRem(15);
    max-width: pxToRem(350);
    min-width: pxToRem(300);
    text-align: left;
    white-space: pre-line;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: pxToRem(15);

    .custom-tooltip {
      h4 {
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        margin-bottom: pxToRem(8);
        color: #000;
      }

      p {
        text-align: right;
        color: #2a5299;
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        font-weight: $medium;
      }
    }
  }
}

.table-form-request {
  thead {

    tr {
      th {
        font-size: pxToRem(13);
      }
    }
  }

  .table tbody tr td {
    font-size: pxToRem(13);

    &:last-child {
      text-align: center !important;
    }

    &:nth-child(12) {
      text-align: center !important;
    }
  }
}

span.hashtag {
  font-size: pxToVW(15);
  line-height: pxToVW(24);
  color: $white;
  padding: pxToVW(5) pxToVW(6);
  background-color: $color-tag;
  border-radius: pxToVW(15);
  display: inline-block !important;
  margin: pxToVW(3);
  width: auto !important;
}