.table{
  font-size: pxToVW(18);
  color: $color-table;
  thead{
    background-color: $color_primary;
    tr{
      th{
        border: 0;
        color: $color-head;
        font-size: pxToVW(18);
        padding: pxToVW(15) pxToVW(10);
        white-space: pre-line;
        vertical-align: middle;
      }
    }
  }
  tbody{
    tr:nth-of-type(odd){
      background-color:$white;
    }
    tr:nth-of-type(even){
      background-color:$bg-even-table;
    }
    tr{
      &.row-active{
        background-color: $bg-row-active;
      }
      td{
        border: 0;
        padding: pxToVW(25) pxToVW(10);
        white-space: pre-line;
        vertical-align: middle;
        font-size: pxToVW(18);
        p{
          color: $color-link-table;
          text-decoration: underline;
        }
      }
    }
  }
}
.table-responsive{
  border-radius: pxToVW(10);
}
.action-category{
  display: flex;
  font-size: pxToVW(18);
  position: absolute;
  right: pxToRem(15);
  height: auto;
  .edit-categories{
    width: pxToVW(110);
    color: $white;
    background-color:$color_primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: pxToVW(23) pxToVW(10);
    font-size: pxToVW(18);
  }
  .cancel-categories{
    width: pxToVW(110);
    color: $white;
    background-color: $bg-cancel-categories;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: pxToVW(23) pxToVW(10);
    font-size: pxToVW(18);
  }
}

.bs-tooltip-left{
  .arrow{
    &::before{
      border-left-color: #fff;
    }
  }
  .tooltip-inner{
    background-color: #fff;
    padding: pxToRem(15);
    .custom-tooltip{
      h4{
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        margin-bottom: pxToRem(8);
        color: #000;
      }
      p{
        text-align: right;
        color: #2a5299;
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        font-weight: $medium;
      }
    }
  }
}