.content-wrapper {
  margin-top: pxToRem(150);
  margin-left: pxToRem(40);
  font-family: $Roboto-Font;
  margin-bottom: pxToRem(82);
  font-weight: $medium;

  &__chart {
    // max-height: pxToRem(436);

    &__title {
      text-align: left;
      padding-left: pxToRem(20);
      padding-top: pxToRem(20);
      font-size: pxToRem(18);
      color: $color-text;
      text-transform: capitalize;
    }

    &__option {
      display: flex;
      justify-content: flex-end;
      margin-top: pxToRem(20);
      
      &__select {
        margin-right: pxToRem(30);
        width: pxToRem(150);
        height: pxToRem(35);

        .css-1uccc91-singleValue {
          font-size: pxToRem(13);
        }
      }
    }
    
    &__body {
      padding: pxToRem(34) pxToRem(21) pxToRem(84) pxToRem(20);
    }
  }

  &__form-suggest {
    margin-left: pxToRem(39);
    background: $white;
    // max-height: pxToRem(450);
    // padding-bottom: pxToRem(30);
    
    &__list {
      overflow-y: scroll;
      max-height: pxToRem(350);
      @include scrollbars(3px, rgba(0,0,0,0.3), '');
    }

    &__title {
      margin-top: pxToRem(20);
      margin-bottom: pxToRem(20);
      text-transform: capitalize;
    }

    &__list-all {
      font-size: pxToRem(12);
      color: $blue-light;
      text-align: center;
      padding: pxToRem(17) 0;
      cursor: pointer;
    }

    &__item {
      font-size: pxToRem(13);
      color: #4d565c;
      padding: pxToRem(13) 0;
      border-top:  solid pxToRem(1) $color-border;
      border-bottom:  solid pxToRem(1) $color-border;
      &__username{
        font-weight: $bold;
      }

      &__info{
        margin-left: pxToRem(2);
        font-weight: $regular;
      }

      &__time {
        font-size: pxToRem(11);
        font-weight: $regular;
        margin-top: pxToRem(5);
      }
    }
  }

  &__post {
    margin-top: pxToRem(18);
    padding: pxToRem(20);
    margin-top: pxToRem(51);

    &__list {
      overflow-y: scroll;
      max-height: pxToRem(245);
      @include scrollbars(3px, rgba(0,0,0,0.3), '');
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: pxToRem(12) 0;

      &__title {
        font-size: pxToRem(13);
        font-weight: $bold;
        color: $color-text;
        text-transform: uppercase;
      }

      &__time {
        font-size: pxToRem(11);
        font-weight: $regular;
        margin-top: pxToRem(5);
      }

      &__category {
        font-size: pxToRem(13);
        font-weight: $medium;
      }
      
      &__username {
        font-size: pxToRem(13);
        font-weight: $medium;
      }
    }
  }
  &__hashtag {
    margin-left: pxToRem(39);
    margin-top: pxToRem(51);  

    &__title {
      padding: pxToRem(20) 0;
    }
    &__list {
      margin-top: pxToRem(11);
      min-height: pxToRem(215);
    }

    &__item {
      display: inline-block;
      border-radius: pxToRem(20);
      background-color: #ff8a8a;
      height: pxToRem(30);
      margin-left: pxToRem(3);
      padding: pxToRem(5);
      margin-bottom: pxToRem(22);
      font-size: pxToRem(15);
      line-height: 1.4;
      font-weight: $bold;
      color: $white ;
    }

    &__list-all{
      font-size: pxToRem(12);
      color: $blue-light;
      text-align: center;
      padding: pxToRem(17) 0;
      cursor: pointer;
    }
  }
}