.content-wrapper {
  margin-top: pxToVW(120);
  margin-left: 0;
  font-family: $Roboto-Font;
  margin-bottom: pxToVW(82);
  font-weight: $medium;

  &__chart {
    // max-height: pxToVW(436);

    &__title {
      text-align: left;
      padding-left: pxToRem(20);
      font-size: pxToRem(18);
      color: $color-text;
      text-transform: capitalize;
    }

    &__option {
      display: flex;
      justify-content: flex-end;
      margin-top: pxToRem(20);

      &__select {
        margin-right: pxToRem(30);
        width: pxToRem(150);
        height: pxToRem(35);

        .css-1uccc91-singleValue {
          font-size: pxToRem(13);
        }
      }
    }

    &__body {
      padding: pxToRem(20) pxToRem(21) pxToRem(20) pxToRem(20);
    }
  }

  .box-content {
    padding: pxToRem(15);
  }

  &__box-left {
    padding-left: pxToRem(30);

    &__form-suggest {

      background: $white;
      // max-height: pxToVW(450);
      // padding-bottom: pxToVW(30);

      &__list {
        overflow-y: scroll;
        max-height: pxToRem(400);
        @include scrollbars(3px, rgba(0, 0, 0, 0.3), '');
      }

      &__title {
        margin-bottom: pxToRem(20);
        text-transform: capitalize;
      }

      &__list-all {
        font-size: pxToRem(13);
        color: $blue-light;
        text-align: center;
        padding: pxToRem(17) 0;
        cursor: pointer;
      }

      &__item {
        font-size: pxToRem(13);
        color: #4d565c;
        padding: pxToRem(8) 0;
        border-top: solid pxToRem(1) $color-border;
        border-bottom: solid pxToRem(1) $color-border;

        >p {
          span {
            display: block;
            font-size: pxToRem(11);
            color: #808495;
            line-height: 1.3;

            strong {
              font-size: pxToRem(13);
              color: #4d565c;
            }
          }
        }

        &__username {
          // font-weight: $bold;
        }

        &__info {
          margin-left: pxToRem(2);
          font-weight: $regular;
        }

        &__time {
          font-size: pxToRem(11);
          font-weight: $regular;
          margin-top: pxToRem(5);
        }
      }
    }

    &__hashtag {
      // margin-left: pxToVW(39);
      margin-top: pxToVW(51);

      &__title {
        padding-bottom: pxToVW(20);

      }

      &__list {
        margin-top: pxToVW(11);
        min-height: pxToVW(215);
      }

      &__item {
        display: inline-block;
        border-radius: pxToVW(20);
        background-color: #ff8a8a;
        height: pxToVW(30);
        margin-left: pxToVW(3);
        padding: pxToVW(5) pxToVW(10);
        margin-bottom: pxToVW(22);
        font-size: pxToVW(15);
        line-height: 1.4;
        font-weight: $bold;
        color: $white;

        &:nth-of-type(2n) {
          background-color: #bbbbbb;
        }

        &:nth-of-type(3n) {
          background-color: #ffb68a;
        }
      }

      &__list-all {
        font-size: pxToRem(13);
        color: $blue-light;
        text-align: center;
        padding: pxToVW(17) 0;
        cursor: pointer;
      }
    }
  }

  &__post {
    margin-top: pxToVW(18);
    padding: pxToVW(20);
    margin-top: pxToVW(51);

    &__title {
      padding-left: pxToRem(15);
      margin-bottom: pxToRem(5);
    }

    &__list {
      overflow-y: scroll;
      max-height: pxToRem(190);
      @include scrollbars(3px, rgba(0, 0, 0, 0.3), '');
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: pxToRem(8) 0;
      border-top: solid pxToRem(1) $color-border;

      &__title {
        font-size: pxToRem(13);
        font-weight: $bold;
        color: $color-text;
        text-transform: uppercase;
        margin-bottom: pxToRem(5);
      }

      &__time {
        font-size: pxToRem(11);
        font-weight: $regular;
        margin-top: pxToRem(5);
      }

      &__category {
        font-size: pxToRem(13);
        font-weight: $medium;
        line-height: 1.54;
        color: #4d565c;
      }

      &__username {
        font-size: pxToRem(13);
        font-weight: $medium;
        line-height: 1.54;
        color: #4d565c;
      }
    }
  }
}

.no-data {
  font-size: pxToRem(15);
  font-weight: $medium;
  margin: 0 auto;
  text-align: center;
}