.content-wrapper {
  margin-top: pxToVW(150);
  margin-left: pxToVW(40);
  font-family: $Roboto-Font;
  margin-bottom: pxToVW(82);
  font-weight: $medium;

  &__chart {
    // max-height: pxToVW(436);

    &__title {
      text-align: left;
      padding-left: pxToVW(20);
      padding-top: pxToVW(20);
      font-size: pxToVW(18);
      color: $color-text;
      text-transform: capitalize;
    }

    &__option {
      display: flex;
      justify-content: flex-end;
      margin-top: pxToVW(20);
      
      &__select {
        margin-right: pxToVW(30);
        width: pxToVW(150);
        height: pxToVW(35);

        .css-1uccc91-singleValue {
          font-size: pxToVW(13);
        }
      }
    }
    
    &__body {
      padding: pxToVW(34) pxToVW(21) pxToVW(84) pxToVW(20);
    }
  }

  &__form-suggest {
    margin-left: pxToVW(39);
    background: $white;
    // max-height: pxToVW(450);
    // padding-bottom: pxToVW(30);
    
    &__list {
      overflow-y: scroll;
      max-height: pxToVW(350);
      @include scrollbars(3px, rgba(0,0,0,0.3), '');
    }

    &__title {
      margin-top: pxToVW(20);
      margin-bottom: pxToVW(20);
      text-transform: capitalize;
    }

    &__list-all {
      font-size: pxToVW(12);
      color: $blue-light;
      text-align: center;
      padding: pxToVW(17) 0;
      cursor: pointer;
    }

    &__item {
      font-size: pxToVW(13);
      color: #4d565c;
      padding: pxToVW(13) 0;
      border-top:  solid pxToVW(1) $color-border;
      border-bottom:  solid pxToVW(1) $color-border;
      &__username{
        font-weight: $bold;
      }

      &__info{
        margin-left: pxToVW(2);
        font-weight: $regular;
      }

      &__time {
        font-size: pxToVW(11);
        font-weight: $regular;
        margin-top: pxToVW(5);
      }
    }
  }

  &__post {
    margin-top: pxToVW(18);
    padding: pxToVW(20);
    margin-top: pxToVW(51);

    &__list {
      overflow-y: scroll;
      max-height: pxToVW(245);
      @include scrollbars(3px, rgba(0,0,0,0.3), '');
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: pxToVW(12) 0;

      &__title {
        font-size: pxToVW(13);
        font-weight: $bold;
        color: $color-text;
        text-transform: uppercase;
      }

      &__time {
        font-size: pxToVW(11);
        font-weight: $regular;
        margin-top: pxToVW(5);
      }

      &__category {
        font-size: pxToVW(13);
        font-weight: $medium;
      }
      
      &__username {
        font-size: pxToVW(13);
        font-weight: $medium;
      }
    }
  }
  &__hashtag {
    margin-left: pxToVW(39);
    margin-top: pxToVW(51);  

    &__title {
      padding: pxToVW(20) 0;
    }
    &__list {
      margin-top: pxToVW(11);
      min-height: pxToVW(215);
    }

    &__item {
      display: inline-block;
      border-radius: pxToVW(20);
      background-color: #ff8a8a;
      height: pxToVW(30);
      margin-left: pxToVW(3);
      padding: pxToVW(5);
      margin-bottom: pxToVW(22);
      font-size: pxToVW(15);
      line-height: 1.4;
      font-weight: $bold;
      color: $white ;
    }

    &__list-all{
      font-size: pxToVW(12);
      color: $blue-light;
      text-align: center;
      padding: pxToVW(17) 0;
      cursor: pointer;
    }
  }
}