.main-layout {
  position: relative;

  &__profile {
    position: absolute;
    top: pxToVW(25);
    right: pxToVW(40);
    color: $color_primary;
    font-size: pxToVW(20);
    line-height: pxToVW(24);
    font-weight: $medium;
    z-index: 999;
    text-transform: uppercase;

    img {
      width: pxToRem(15);
      margin-right: pxToRem(10);
    }
  }

  .menu-left {
    background-color: $white;
    // position: fixed;
    z-index: 9;
    width: pxToRem(250);

    @media (max-width: 1024px) {
      max-width: pxToRem(210);
      position: fixed;
    }
  }

  .layout-right {
    // margin-left: pxToRem(250);
    @media (max-width: 1024px) {
      margin-left: pxToRem(175);
      max-width: calc(100% - #{pxToRem(180)});
      padding-right: 0;
    }
  }

  .menu-logout {
    position: absolute;
    top: pxToVW(65);
    right: pxToVW(25);
    background-color: $white;
    padding: pxToVW(20) pxToVW(40);
    border-radius: pxToVW(15);
    z-index: 999;
    box-shadow: 0 0.3125vw 0.52083vw 0 $black-opacity-24;

    li {
      font-size: pxToVW(20);
      line-height: pxToVW(30);
      color: $color-black;
      font-weight: $medium;
      cursor: pointer;
      margin-bottom: pxToRem(10);

      .popup-logout {
        color: $red;
      }
    }
  }

  .ico-up {
    @include transform-rotate(-90deg);
    position: relative;
    top: pxToRem(7);
    width: pxToRem(11);
    min-width: 9px;
    left: pxToRem(-9);
    cursor: pointer;

    &.style1 {
      top: 0;
      left: pxToRem(10);
    }
  }
}