.main-layout {
  position: relative;

  &__profile {
    position: absolute;
    top: pxToVW(25);
    right: pxToVW(40);
    color: $color_primary;
    font-size: pxToVW(20);
    line-height: pxToVW(24);
    font-weight: $medium;
    z-index: 999;
  }

  .menu-left {
    background-color: $white;
    position: fixed;
    z-index: 9;
    width: pxToRem(270);
  }

  .layout-right {
    margin-left: pxToRem(250);
  }

  .popup-logout {
    position: absolute;
    top: pxToVW(65);
    right: pxToVW(25);
    background-color: $white;
    padding: pxToVW(20) pxToVW(40);
    border-radius: pxToVW(15);
    z-index: 999;

    &__item-logout {
      font-size: pxToVW(20);
      line-height: pxToVW(30);
      color: $red;
      font-weight: $medium;
    }
  }

  .ico-up {
    @include transform-rotate(-90deg);
    position: relative;
    top: pxToRem(7);
    width: pxToRem(11);
    min-width: 9px;
    left: pxToRem(-9);
    cursor: pointer;
  
    &.style1 {
      top: 0;
      left: pxToRem(10);
    }
  }
}