.checkbox {
  .checkbox__input {
    display: none;
  }
  .checkbox__label {
    position: relative;
    display: inline-block;
    cursor: pointer;

    padding-left: pxToVW(25);
    // color: $deep-cove;
    &::before {
      height: pxToVW(18);
      width: pxToVW(18);
      border: pxToVW(1) solid;
      left: pxToVW(10);
      top: pxToVW(-15);
      position: absolute;
      content: '';
      display: inline-block;
      border-radius: pxToVW(3);
      // background-color: $hummer;
      &:hover {
        // background-color: $blue-darker;
      }

      &:checked {
        // background-color: $blue-darker;
      }
    
    }

    &::after {
      position: absolute;
      display: inline-block;
      height: pxToVW(5);
      width: pxToVW(9);
      border-left: pxToVW(2) solid;
      border-bottom: pxToVW(2) solid;

      transform: rotate(-45deg);
      content: none;
      left: pxToVW(15);
      top: pxToVW(-10);
    }
  }
  &.checkbox--checked {
    .checkbox__label::after {
      content: '';
    }
  }
}
