.page-partner{
  h2{
    font-size: pxToVW(30);
    line-height: pxToVW(20);
  }
  .form-search{
    width: 100%;
    padding-top: pxToVW(30);
    &__left{
      display: flex;
      .customer-select{
        margin-right: pxToVW(19);
      }
      .select-headquarters{
        width: pxToVW(115);
      }
      .select-job{
        width: pxToVW(161);
      }
      .select-vote{
        width: pxToVW(137);
      }
      button.button.btn{
        height: pxToVW(40) !important;
        padding: pxToVW(7) pxToVW(4) pxToVW(6);
        font-size: pxToVW(15);
        line-height: pxToVW(18);
        background: #2a5299;
        border-radius: pxToVW(5);
      }
    }
    &__right{
      display: flex;
      justify-content: flex-end;
      button.button.btn{
        height: pxToVW(40) !important;
        padding: pxToVW(7) pxToVW(4) pxToVW(6);
        font-size: pxToVW(15);
        line-height: pxToVW(18);
        background: #2a5299;
        border-radius: 0;
        margin-left: pxToVW(-2);
        z-index: 999;
      }
      .input__box input{
        border: 0;
        width: pxToVW(370);
      }
    }
  }
  .table-partner{
    margin-top: pxToVW(25);
    tr{
      td{
        &:nth-of-type(4){
          color: $color-link-table;
        }
        // &:nth-of-type(5){
        //   display: none;
        // }
      }
    }
  }
}

.action-delete{
  text-align: right;
  padding-top: pxToVW(20);
  button.button.btn{
    height: pxToVW(40) !important;
    padding: pxToVW(7) pxToVW(4) pxToVW(6);
    font-size: pxToVW(15);
    line-height: pxToVW(18);
    background:$color_primary;
    border-radius: 0;
    margin-left: pxToVW(-2);
    z-index: 999;
  }
}
.wrapper-pagination{
  .pagination{
    justify-content: flex-end;
    .page-item{
      background-color: $white;
      .page-link{
        color: $color-black;
        font-size: pxToVW(15);
        border: pxToVW(1) solid $bg-light5;
        &:focus{
          outline: none;
          box-shadow: unset;
        }
      }
      &.active{
        .page-link{
          background-color: $color_primary;
          border-color: unset;
          color: $white;
          &:focus{
            outline: none;
            box-shadow: unset;
          }
        }
      }
    }
  }
}
