.page-partner{
  h2{
    font-size: pxToVW(30);
    line-height: pxToVW(20);
  }
  .form-search{
    width: 100%;
    padding-top: pxToVW(30);
    &__left{
      display: flex;
      .customer-select{
        margin-right: pxToVW(19);
      }
      .select-headquarters{
        width: pxToVW(115);
      }
      .select-job{
        width: pxToVW(161);
      }
      .select-vote{
        width: pxToVW(137);
      }
      button.button.btn{
        height: pxToVW(40) !important;
        padding: pxToVW(7) pxToVW(4) pxToVW(6);
        font-size: pxToVW(15);
        line-height: pxToVW(18);
        background: #2a5299;
        border-radius: pxToVW(5);
      }
    }
    &__right{
      display: flex;
      justify-content: flex-end;
      button.button.btn{
        height: pxToVW(40) !important;
        padding: pxToVW(7) pxToVW(4) pxToVW(6);
        font-size: pxToVW(15);
        line-height: pxToVW(18);
        background: #2a5299;
        border-radius: 0;
        margin-left: pxToVW(-2);
        z-index: 999;
      }
      .input__box input{
        border: 0;
        width: pxToVW(370);
      }
    }
  }
  .table-partner{
    margin-top: pxToVW(25);
    tr{
      td{
        &:nth-of-type(4){
          color: $color-link-table;
        }
        // &:nth-of-type(5){
        //   display: none;
        // }
      }
    }
  }
}

.action-delete{
  text-align: right;
  padding-top: pxToVW(20);
  button.button.btn{
    height: pxToVW(40) !important;
    padding: pxToVW(7) pxToVW(4) pxToVW(6);
    font-size: pxToVW(15);
    line-height: pxToVW(18);
    background:$color_primary;
    border-radius: 0;
    margin-left: pxToVW(-2);
    z-index: 999;
  }
}
.wrapper-pagination{
  .pagination{
    justify-content: flex-end;
    .page-item{
      background-color: $white;
      .page-link{
        color: $color-black;
        font-size: pxToVW(15);
        border: pxToVW(1) solid $bg-light5;
        &:focus{
          outline: none;
          box-shadow: unset;
        }
      }
      &.active{
        .page-link{
          background-color: $color_primary;
          border-color: unset;
          color: $white;
          &:focus{
            outline: none;
            box-shadow: unset;
          }
        }
      }
    }
  }
}
.avatar{
  width: pxToVW(181);
  height: pxToVW(181);
  border-radius: 50%;
  background-color: $bg-color;
  p{
    font-size: pxToVW(15);
    line-height: pxToVW(18);
    color: $white;
    font-weight: $medium;
    padding: pxToVW(14) 0;
    background: rgb(42, 82, 153);
    background: linear-gradient(-90deg, rgba(42, 82, 153, 1) 0%, rgba(21, 41, 77, 1) 100%);
    text-align: center;
  }
}
.page-partner-management{
  .input__label{
    font-size: pxToVW(20) !important;
    margin-bottom: pxToVW(10);
  }
  .input-change{
    background-color: $white;
    color: $color-black;
    border: pxToVW(2) solid $color-border;
    margin-bottom: pxToVW(20);
  }
  .customer-select{
    color: $color-black;
    margin-bottom: pxToVW(20);
    .input__label{
      margin-bottom: pxToVW(10);
    }
    .input__box{
      background-color: $white;
    }
  }
  .button.button.btn{
    font-size: pxToVW(15);
    font-weight: $medium;
    line-height: pxToVW(18);
    background: $color_primary;
    border-radius: unset;
    margin-top: pxToVW(25);
    height: pxToVW(40);
  }
  .table{
    tr td:nth-of-type(4){
      span{
        color: $white;
        background-color: $color-tag;
        padding: pxToVW(5) pxToVW(10);
        border-radius: pxToVW(10);
        font-size: pxToVW(15);
      }
    }
  }
  .partner__tab{
    border-bottom: unset;
    padding-left: pxToVW(15);
    padding-top: pxToVW(85);
    .nav-link{
      color: $color-black;
      font-size: pxToVW(20);
      line-height: pxToVW(24);
      padding: 0;
      margin-right: pxToVW(20);
      text-transform: uppercase;
      &.active{
        color: $color_primary;
        background-color: transparent;
        border-color: transparent;
        padding-bottom: pxToVW(5);
        border-bottom: pxToVW(2) solid $color_primary;
      }
    }
  }
  .tab-content{
    width: 100%;
  }
}
