.page-customer{
  .title-page{
    font-size: pxToVW(30);
    font-weight: $medium;
  }
  &__top{
    padding-bottom: pxToVW(100);
    padding-top: pxToVW(38);
    h2{
      font-size: pxToVW(20);
      color: $color_primary;
      padding-bottom: pxToVW(43);
      &.name-company{
        font-size: pxToVW(25);
        padding-bottom: pxToVW(40);
      }
    }
    h3{
      font-size: pxToVW(20);
      line-height: pxToVW(30);
      font-weight: $medium;
      padding-bottom: pxToVW(15);
    }
    p{
      font-size: pxToVW(20);
      span{
        color: $color_primary;
        padding-left: pxToVW(10);
      }
    }
  }
  .action-update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: pxToVW(20);
    button.button.btn{
      height: pxToVW(40) !important;
      padding: pxToVW(7) pxToVW(4) pxToVW(6);
      font-size: pxToVW(15);
      line-height: pxToVW(18);
      background:$color_primary;
      border-radius: 0;
      margin-left: pxToVW(-2);
      z-index: 999;
    }
  }
  table{
    th{
      &:nth-of-type(1){
        text-align: center;
      }
    }
    tr{
      td{
        &:nth-of-type(2){
          text-align: center;
        }
      }
    }
  }
}
.page-information{
  .title-page{
    font-size: pxToVW(30);
    line-height: pxToVW(20);
    font-weight: $medium;
    padding-bottom: pxToVW(38);
  }
  .title-project{
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    font-weight: $medium;
    padding-bottom: pxToVW(22);
    color: $color-black;
  }
  .input {
    padding-bottom: pxToVW(30);
    &__label{
      font-size: pxToVW(20);
      line-height: pxToVW(30);
    }
    &__box{
      input{
        background-color: $white;
      }
    }
  }
  .customer-select{
    .input {
      &__label{
        font-size: pxToVW(20);
        line-height: pxToVW(30);
      }
      &__box{
        background-color: $white;
      }
    }
  }
  .box-project{
    display: flex;
    padding: pxToVW(19) pxToVW(45) pxToVW(15);
    border: pxToVW(1) solid $color-border-box;
    background-color: $white;
    margin-bottom: pxToVW(3);
    p{
      margin-right: auto;
    }
    h3{
      font-size: pxToVW(18);
      line-height: pxToVW(22);
      font-weight: bold;
      text-decoration: underline;
      color: $color_primary;
    }
    h4{
      font-size: pxToVW(18);
      line-height: pxToVW(22);
      font-weight: bold;
      text-decoration: underline;
      color: $color-delete;
      padding-left: pxToVW(20);
    }
  }
  .button.button.btn{
    border-radius: pxToVW(5);
  }
}
