.page-customer {
  .title-page {
    font-size: pxToVW(30);
    font-weight: $medium;
  }

  &__top {
    padding-bottom: pxToVW(100);
    padding-top: pxToVW(38);

    h2 {
      font-size: pxToVW(20);
      color: $color_primary;
      padding-bottom: pxToVW(43);

      &.name-company {
        font-size: pxToVW(25);
        padding-bottom: pxToVW(40);
      }
    }

    h3 {
      font-size: pxToVW(20);
      line-height: pxToVW(30);
      font-weight: $medium;
      padding-bottom: pxToVW(15);
    }

    p {
      font-size: pxToVW(20);

      span {
        color: $color_primary;
        padding-left: pxToVW(10);
      }
    }
  }

  .action-update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: pxToVW(20);

    button.button.btn {
      height: pxToVW(40) !important;
      padding: pxToVW(7) pxToVW(4) pxToVW(6);
      font-size: pxToVW(15);
      line-height: pxToVW(18);
      background: $color_primary;
      border-radius: 0;
      margin-left: pxToVW(-2);
      z-index: 999;
    }
  }

  table {
    th {
      &:nth-of-type(1) {
        text-align: center;
      }
    }

    tr {
      td {
        &:nth-of-type(2) {
          text-align: center;
        }
      }
    }
  }
}

.page-information {
  .title-page {
    font-size: pxToVW(30);
    line-height: pxToVW(20);
    font-weight: $medium;
    padding-bottom: pxToVW(38);
  }

  .title-project {
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    font-weight: $medium;
    padding-bottom: pxToVW(22);
    color: $color-black;
  }

  .input {
    padding-bottom: pxToVW(30);

    &__label {
      font-size: pxToVW(20);
      line-height: pxToVW(30);
    }

    &__box {
      input {
        background-color: $white;
      }
    }
  }

  .customer-select {
    .input {
      &__label {
        font-size: pxToVW(20);
        line-height: pxToVW(30);
      }

      &__box {
        background-color: $white;
      }
    }

    &.select-category {
      margin-bottom: pxToRem(5);

      .css-yk16xz-control,
      .css-1pahdxg-control {
        border: pxToRem(1) solid #707070;
      }
    }
  }

  .box-project {
    display: flex;
    padding: pxToRem(19) pxToRem(45) pxToRem(15);
    border: pxToRem(1) solid $color-border-box;
    background-color: $white;
    margin-bottom: pxToRem(3);

    p {
      margin-right: auto;
    }

    h3 {
      font-size: pxToVW(18);
      line-height: pxToVW(22);
      font-weight: bold;
      text-decoration: underline;
      color: $color_primary;
    }

    h4 {
      font-size: pxToVW(18);
      line-height: pxToVW(22);
      font-weight: bold;
      text-decoration: underline;
      color: $color-delete;
      padding-left: pxToVW(20);
    }
  }

  .button.button.btn {
    border-radius: pxToVW(5);
  }
}

.custom-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color_primary;
  padding: pxToVW(17) 0 pxToVW(16) 0;
  border-top-left-radius: pxToVW(10);
  border-top-right-radius: pxToVW(10);

  &.custom-head {
    p {
      width: 10%;

      &:nth-of-type(2),
      &:nth-of-type(5) {
        width: 10%;
      }

      &:nth-of-type(3) {
        width: 15%;
      }

      &:nth-of-type(4) {
        width: 15%;
      }
    }
  }

  p {
    font-size: pxToVW(18);
    color: $white;
    width: 20%;
    text-align: center;

    &:nth-of-type(2),
    &:nth-of-type(5) {
      width: 30%;
    }

    &:nth-of-type(3) {
      width: 5%;
    }

    &:nth-of-type(4) {
      width: 15%;
    }
  }

  &.table-head-progress {
    p {

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(7) {
        width: 15%;
      }

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        width: 10%;
      }
    }
  }
}

.custom-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  padding: pxToVW(19) 0 pxToVW(22) 0;

  position: relative;

  &:last-child {
    border-bottom-left-radius: pxToVW(10);
    border-bottom-right-radius: pxToVW(10);
  }

  &__item {
    width: 15%;
    text-align: center;
    white-space: pre-wrap;

    textarea {
      width: 90%;
    }

    &.customer {
      @include customerSelect(40);

      &:nth-of-type(2) {
        width: 15%;

        textarea {
          width: 90%;
        }
      }

      &:nth-of-type(5) {
        width: 15%;

        textarea {
          width: 90%;
        }
      }

      &:nth-of-type(3) {
        width: 20%;

        textarea {
          width: 90%;
        }
      }

      &:nth-of-type(4) {
        width: 15%;
      }

      .customer-select {
        .input__box {
          border: pxToVW(1) solid $color-border-box;
          background-color: #fff;
        }

      }

      input {
        background-color: $white;
        border: pxToVW(1) solid $color-border-box;
        height: pxToRem(41);
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(5) {
      width: 30%;

      textarea {
        width: 90%;
      }
    }

    &:nth-of-type(3) {
      width: 5%;
    }

    &:nth-of-type(4) {
      width: 15%;
    }

    textarea {
      border: pxToVW(1) solid $color-border-box;
      border-radius: pxToVW(5);
      padding: pxToVW(10) pxToVW(16);
      font-size: pxToVW(15);

      &::placeholder {
        color: $color-placeholder;
      }
    }

    &.action {
      display: inline-block;

      .action-increase {
        transform: rotate(180deg);
        margin-bottom: pxToVW(5);
      }

      img {
        width: pxToVW(15);
      }
    }

    p {
      font-size: pxToVW(16);
    }
  }

  .action-category {
    display: none;
  }

  &.active {
    background-color: $bg-row-active;

    .action-category {
      display: flex;
      font-size: pxToVW(18);
      position: absolute;
      right: 0;
      height: 100%;

      .edit-categories {
        width: pxToVW(110);
        color: $white;
        background-color: $color_primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cancel-categories {
        width: pxToVW(110);
        color: $white;
        background-color: $bg-cancel-categories;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.table-body-progress {
    .hashtag {
      .customer-select {
        margin-bottom: 10px;

        .input__box {
          border: pxToVW(1) solid $color-border-box;
        }
      }
    }

    .custom-body__item {
      padding-left: pxToVW(10);

      .select-headquarters {
        min-width: pxToRem(100);
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(7) {
        width: 15%;
      }

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        width: 10%;
      }

      &:nth-of-type(4) {
        display: flex;
        align-items: center;
        padding-left: pxToVW(10);
      }

      textarea {
        width: 100%;
      }

      &.action-progress {
        display: flex;
        align-items: center;
        justify-content: center;

        .action-increase {
          transform: rotate(180deg);
          margin-bottom: pxToVW(5);
        }

        img {
          width: pxToVW(15);
        }

        h3 {
          font-size: pxToVW(40);
          padding: 0 pxToVW(20);
        }
      }
    }
  }
}

.table-categories {
  padding-top: pxToVW(95);
  padding-bottom: pxToVW(30);

  .custom-body {
    &__item {
      font-size: pxToVW(16);

      &:nth-of-type(2),
      &:nth-of-type(5) {
        white-space: pre-line;
      }
    }
  }
}

.page-progress {
  &__title-info {
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    padding-bottom: pxToVW(13);
  }

  &__content-info {
    font-size: pxToVW(20);
    line-height: pxToVW(30);
    padding-bottom: pxToVW(13);
    color: $color_primary;

    &.name {
      font-size: pxToVW(25);
    }
  }

  .select-project {
    margin-bottom: pxToVW(30);
  }

  .title-project {
    font-size: pxToVW(40);
    line-height: pxToVW(40);
    color: $color_primary;
    padding-top: pxToVW(50);
    padding-bottom: pxToVW(20);
  }

  .header-page {
    display: flex;
    align-items: center;
    padding-bottom: pxToVW(38);

    img {
      transform: rotate(90deg);
      width: pxToVW(25);
    }

    .title-page {
      padding-bottom: 0;
      padding-left: pxToVW(5);
    }
  }
}

.group-image {
  display: flex;
  padding-top: pxToRem(20);
  align-items: flex-end;

  p {
    width: pxToRem(300);
    border-bottom: 1px solid #000;
    padding-left: pxToRem(10);
    overflow: hidden;
    white-space: nowrap;
  }

  .button {
    height: pxToRem(30) !important;

    p {
      font-size: pxToRem(13);
      border: 0;
      width: auto;
      padding-left: 0;
    }
  }
}

.table-progress-project {
  table {
    tbody {
      tr {
        td {
          &:nth-of-type(3) {
            display: none !important;
          }

          .customerProject {
            font-weight: bold;
            margin-top: 5px;
            color: $bg-main;
          }

          &:nth-of-type(4) {
            width: pxToRem(250);
            display: block;
          }

          span {
            display: block;
            width: 100%;
            word-break: break-word;
          }
        }
      }
    }
  }
}

.table-project-item {
  table {
    tbody {
      tr {
        td {
          &:nth-of-type(3) {
            width: pxToRem(300);
          }
        }
      }
    }
  }
}